.cardContainer {
  overflow: auto;
  height: 76.5vh;
}

.labels {
  display: flex;
  justify-content: flex-end;
  height: 3vh;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 9.5px;
  font-weight: 200;
  width: 50px;
}

.queueLabel {
  justify-content: flex-start;
}

.trackCard {
  margin-bottom: 0.7rem;
}
