@import "styles/variables";


.cardContainer {
  overflow: auto;
  height: 76.5vh;
}

.queueLabel {
  justify-content: flex-start;
}

.trackCard {
  margin-bottom: 0.7rem;
}

.buttonsBar {
  display: flex;
  justify-content: space-between;
}

.addTrackButton, .deletePlaylistButton {
  padding: 14px !important;
  margin-top: 1rem;
}

.addTrackButton {
  background-color: $main-color !important;
}

.deletePlaylistButton {
  background-color: $danger-color !important;
}
