.cardContainer {
  overflow: auto;
  height: 76.5vh;
}

.queueLabel {
  justify-content: flex-start;
}

.trackCard {
  margin-bottom: 0.7rem;
}

.buttonsBar {
  display: flex;
  justify-content: space-between;
}

.addTrackButton, .deletePlaylistButton {
  padding: 10px;
  margin-top: 0.5rem;
}

