@import "styles/variables";

.pageContainer {
  padding-top: 1rem
}

.title {
  font-size: 19px;
}

.label {
  margin-top: 0.5rem;
  font-size: 13px;
}

.controlsContainer {

}

.control {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.addPlaylistButton {
  border-color: $main-color !important;
  background: $main-color !important;

  width: 100%;
  margin-top: 2rem;
  padding: 14px !important;
}
