@import "styles/variables.scss";

.input {
  width: 100%;
  color: $primary-font-color;
  background: $dark-color;
  outline: none;
  border: 3px solid $dark-color;
  border-radius: 8px;
  padding: 10px;

  &::placeholder {
    color: $secondary-font-color;
  }
}
